@(title: String)(content: Html)

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Twitter plotting web app(actually not much plotting but nevertheless)</title>
    </head>
    <body>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

        <input id="item1-value" type="text"/>
        <input id="item2-value" type="text"/>
        <br/>
        <input id="from-timestamp" type="datetime-local"/>
        <input id="to-timestamp" type="datetime-local"/>
        <br/>

        <script type="text/javascript" src='@routes.Assets.at("javascripts/scala-spark-twitter-plotting-jsdeps.js")'></script>
        <script type="text/javascript" src='@routes.Assets.at("javascripts/scala-spark-twitter-plotting-fastopt.js")'></script>
        <script type="text/javascript" src='@routes.Assets.at("javascripts/scala-spark-twitter-plotting-launcher.js")'></script>

    </body>
</html>